body {
    font-family: Arial, sans-serif;
}

.nomina-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    font-size: 16px;
    color: #333;
}
